<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
  <p>
    Behrooze is an expert in software engineering and holds a degree in Computer Engineering from Cal Poly - San Luis Obispo. He has been applying his formal training in embedded software to the field of mobile robotics over the past decade. He has held several technical leadership positions working on autonomous micro-UAVs, sidewalk delivery robots, and most recently autonomous farming vehicles. His domain knowledge spans the gamut of the firmware/software stack —— spanning from safety-critical microcontroller firmware to systems programming and up to the application layer.
  </p>
</div>
